# **NLP Assignment: 1**

**Data Generated:**

Link: https://www.mockaroo.com/

In [24]:
# pip install summarytools
!pip install nltk

Requirement already satisfied: nltk in c:\users\praveen choudhary\appdata\local\programs\python\python311\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\praveen choudhary\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\praveen choudhary\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\praveen choudhary\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2023.12.25)
Requirement already satisfied: tqdm in c:\users\praveen choudhary\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in c:\users\praveen choudhary\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)

In [25]:
import nltk

ModuleNotFoundError: No module named 'nltk'

In [17]:
# import CSV data
import pandas as pd
import numpy as np
from summarytools import dfSummary
import nltk
from nltk.corpus import names
import random
from nltk.classify import apply_features
from nltk import NaiveBayesClassifier, classify

ModuleNotFoundError: No module named 'nltk'

In [11]:
df = pd.read_csv('MOCK_DATA.csv')

In [3]:
df.head(5)

  first_name last_name Gender
0     Emilee     Flatt      F
1      Rolph    Gentry      M
2     Joshia  Witherby      M
3       Deni  Allberry      F
4    Burnard  Hallbird      M

In [12]:
dfSummary(df)

### **1. Using NLTK, Naïve Bayes Classifier (One feature - Last letter of each name)**

In [ ]:

# Download names dataset
nltk.download('names')

# Feature extraction function
def gender_features_last_letter(name):
    return {'last_letter': name[-1].lower()}

# Load labeled names dataset from NLTK
male_names = [(name, 'male') for name in names.words('male.txt')]
female_names = [(name, 'female') for name in names.words('female.txt')]

# Combine and shuffle names
labeled_names = male_names + female_names
random.shuffle(labeled_names)

# Extract features for each name
featuresets = [(gender_features_last_letter(name), gender) for (name, gender) in labeled_names]

# Split dataset into training and test sets
train_set, test_set = featuresets[500:], featuresets[:500]

# Train Naive Bayes classifier
nb_classifier = NaiveBayesClassifier.train(train_set)

# Evaluate the classifier
accuracy = classify.accuracy(nb_classifier, test_set)
print(f"Accuracy (Last Letter - NLTK Naive Bayes): {accuracy:.4f}")

# Show the most informative features
nb_classifier.show_most_informative_features(5)